$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "compass";
@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html,body,div,h1,input,p,ul,li {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
}

.hero-unit
  h1 {
}

li {
	list-style-type: none;
}

.even {
  background: #ccc;
}

.odd {
  background: #fff;
}