<div class="hero-unit">
  <h1>AngularJS sample</h1>
  <input type="text" ng-model="name">
  <p>こんにちは！{{name}}</p>
  <p>うるせー！{{5 * 3}}</p>
  <div ng-controller="mainCtrl">
  	<p>{{users.length}} users.</p>
  	<p>{{25 * 500|number}}</p>
 	  <p>{{25 * 500|currency:"¥"}}</p>
  	<p>{{today|date:'yyyy-MM-dd'}}</p>
  	<p><input type="text" ng-model="query.name"></p>
  	<ul>
  		<li ng-repeat="user in users|filter:query" ng-class-even="'even'" ng-class-odd="'odd'" ng-controller="userItemCtrl">
  			{{$index+1}} {{$first}} {{$middle}} {{$last}} {{user.name|uppercase}} {{user.score|number:4}}
        <button ng-click="increment()">+1</button>
  		</li>
  	</ul>

  <form name="myName" ng-submit="addUser()">
    <p>Name:<input type="text" name="name" ng-model="user.name"></p>
    <p><input type="submit" value="add"></p>
  </form>

  <form novalidate name="myForm" ng-submit="addUser()">
    <p>Name:
      <input type="text" name="name" ng-model="user.name" required ng-minlength="5" ng- maxlength="8">
      <span ng-show="myForm.name.$error.required">Required!</span>
      <span ng-show="myForm.name.$error.minlength">Too short!</span>
      <span ng-show="myForm.name.$error.maxlength">Too long!</span>
    </p>
    <p>Score:
      <input type="number" name="score" ng-model="user.score">
    </p>
    <p>Email:
      <input type="email" name="email" ng-model="user.email">
      <span ng-show="myForm.email.$error.email">Not valid email!</span>
    </p>
    <p>Web:
      <input type="url" name="url" ng-model="user.url">
      <span ng-show="myForm.url.$error.url">Not valid web url!</span>
    </p>
    <p>18+<input type="checkbox" ng-model="user.adult" ng-true-value="adult" ng-false-value="child"></p>
    <p>Phone:
      <input type="radio" ng-model="user.phone" value="iPhone">iPhone
      <input type="radio" ng-model="user.phone" value="Android">Android
    </p>
    <p>Memo:
      <textarea name="memo" ng-model="user.memo" ng-maxlength="140"></textarea>{{140-user.memo.length}}
      <span ng-show="myForm.memo.$error.maxlength">Too long!</span>
    </p>
    <p>color:
      <select ng-model="user.color" ng-options="'label:'+color for color in ['red','blue','pink']" ng-init="user.color='red'"></select>
    </p>
    <a href="http://docs.angularjs.org/api/">http://docs.angularjs.org/api/</a>
  </form>

  <pre>{{user|json}}</pre>
  </div>
</div>
